## functional Programming
1.simple<br>
2.easy to understand<br>
3.better reuseability<br>
4. length of the program will be divided into sub-programs<br>

In [ ]:
def nameofthefunction(<pramaters>):
    statements
    return

In [11]:
#read a number and reprint the sum of even digits

def sumofevennumbers(n):
    sum=0
    while n!=0:
        r=n%10
        if r%2==0:
            sum=sum+r
        n=n//10
    return sum
sumofevennumbers(1234)

6

In [13]:
#square without using return:
def square(x):
    print(x*x)
print(square(4))

16
None

In [15]:
# square using return:
def square(x):
    return(x*x)
square(4)

16

In [17]:
#cube using return:
def cube(x):
    return(x*x*x)
cube(2)

8

In [18]:
#multiplication of two numbers:
def multiply(x,y):
    print("the value of x:",x)
    print("the value of y:",y)
    return(x*y)
multiply(x=2,y=3)

the value of x: 2
the value of y: 3

6

In [20]:
#sawpping two numbers:
def swap(a,b):
    c=a
    a=b
    b=c
    return(a,b)
swap(2,3)

(3, 2)

In [23]:
#printing the largest number in the largest sequence of number(input:87654,output:8)
def large(n):
    l=0
    while n!=0:
        r=n%10
        if l<r:
            l=r
        n=n//10
    return(l)
large(1239456)

9

## for loop:
### synatx 1:
for i in range(start,stop,step):<br>
     statements
### syntax 2:     
for i in iterable objects:<br>
     statements

In [28]:
#print the numbers between two series(horizontaly):
def printseries(lower,upper):
    for i in range(lower,upper+1):
         print(i,end='')
printseries(1,10)

12345678910

# Data Structures:
1.**List<br>
2.Tuple<br>
3.Set<br>
4.Dictionary**

## List:
1.one of the data structurein python
2.Data strucuture means to store, sort and seacrh options
3.Its one common Data structure in python,the items of list are seperated by comma and enclosed in square brackets []
### Examples:
    list1 = [1,2,3,4,5]
    list2 = ["gitam",1,2]

In [34]:
li=[1,2,3,4,5]#li is a list
print(li)#will print the elemsnts in the list

[1, 2, 3, 4, 5]

In [35]:
li

[1, 2, 3, 4, 5]

In [46]:
#positive index starts from 0
#prints the element in that aprticular address (li[address]):
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])

1
2
3
4
5

In [48]:
#negative index starts from -1
#prints the element in that aprticular address (li[address]):
print(li[-1])
print(li[-2])
print(li[-3])
print(li[-4])
print(li[-5])

5
4
3
2
1

In [38]:
li[1:]#prints elements from address 1

[2, 3, 4, 5]

In [53]:
print(li[0:3])#prints elements from address 0 to 3-1 ie 2
print(li[0:4])#prints elements from address 0 to 4-1 ie 3

SyntaxError: invalid syntax (<ipython-input-53-b67c6844403f>, line 2)

In [54]:
print(li[:-1]) #prints elements after address -1
print(li[-2:])#prints elements from address -2

[1, 2, 3, 4]
[4, 5]

In [55]:
print(li[-5:-3]) #prints elements from address -5 to -3 ie 1 to 2

[1, 2]

In [56]:
print(li[0:-3]) #prints elements from address 0 to -3 ie in the address of 0 we have 1 and in the address of -3 we have 3 and 3-1 is 2, thus 1 to 2

[1, 2]

In [58]:
#updating list:
li= ["gitam",1234,"hyd"]
print(li)
li[1]= 456
print(li)
#here, the value of 1234 is replaced/updated to 456

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [59]:
#deleting elements from the list:
li=["gitam",1234,5678,"hyd"]
print(li)
del li[2]
print(li)
#here, the element in address 2 is deleted

['gitam', 1234, 5678, 'hyd']
['gitam', 1234, 'hyd']

In [60]:
#length of the list
li=["gitam",1234,5678,"hyd"]
print(len(li))

4